<!DOCTYPE html>
<html>
<head>
  <title>Delete Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: violet;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Delete Product</h1>
    
    <form action="/delete" method="POST">
      <div class="form-group">
        <label for="email">Product name</label>
        <input type="text" class="form-control" id="email" name="name" placeholder="Enter product name" required>
      </div>
      <button type="submit" class="btn btn-primary" >Delete</button>

    </form>
  </div>
</body>
</html>
